{% extends 'base.html.twig' %}
{% block title %}Autos{% endblock %}
{% block body %}
    <h1>Ficha del auto</h1>
    {% if auto %}
        {{ include ('partials/datos_vehiculo.html.twig', { 'auto': auto })}}
    {% else %}
        <p>Auto no encontrado</p>
    {% endif %}
   {% endblock %}     
