  

{% extends 'base.html.twig' %}
{% block title %}Coches{% endblock %}
{% block body %}
    <h1>Ficha de coche</h1>
    {% if auto %}
        {{ include ('partials/datos_contacto.html.twig', { 'auto': auto })}}
    {% else %}
        <p>Coche no encontrado</p>
    {% endif %}
   {% endblock %}     
