
{% extends 'base.html.twig' %}
{% block title %}Coches{% endblock %}
{% block body %}
    <h1>Listado de coches</h1>
    {% if autos %}
        {% for auto in autos %}
            {{ include ('partials/datos_autos.html.twig', { 'auto': auto })}}
        {% endfor %}
    {% else %}
        <p>Coche no encontrado</p>
    {% endif %}    
{% endblock %}