{% extends 'base.html.twig' %}

{% block title %}Mex-Change{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="css/estilos.css" />{% endblock %}
{% block body %}
     <!--Portada-->
{{ include ('partials/nav.html.twig')}}
    <div class="portada">
      <div class="contenido-portada">
        <h2 class="titulo-portada">Disfruta de más información</h2>
        <p class="cuerpo-portada">
          Mex-Blog
        </p>
        <a href="#" class="boton-portada">Más</a>
      </div>
    </div>
    <section class="informacion">
          <span class="titulo-informacion">Que hacemos?</span>
          <div class="contenedor">
            <div class="masInfo">
              <div class="cuerpo-info">
                <div class="contenido-info fundido-left">
                    <p>
                    Muy buenas queridos visitantes.<br><br>
                    ¿Estais pensando en renovar a vuestro compañero de viaje? ¿Se le ha cruzado
                    alguna tornillo? No os preocupeis, en esta página encontraréis lo que buscáis.
                    Tenemos cientos de piezas entre las cuales podéis buscar. 
                    <br><br>
                    Somos una empresa que además de ofrecer piezas de otros vehiculos,
                    nuestra particular especialidad consiste en el intercambio de piezas.
                    Si tienes alguna que ya no necesitas, puedes ponerte en contacto
                    con nosotros mediante nuestro formulario de contacto para intercambiar alguna que necesites.
                    <br><br>
                    Siendo una empresa joven, tenemos cosas que mejorar. Pero no dudes en mandarnos
                    tu opinión y decir cosas que podemos mejorar. Siempre estamos dispuestos a ayudar 
                    a nuestros clientes a dejar sus vehiculos como el primer día que lo compraron.
                    </p>
                </div>
                <div class="imagenInfo fundido-right"><img src="media/img/info.jpg" alt=""></div>
              </div>
            </div>
          </div>
    </section>
    <!--Cards-->
    <section class="fundido">
      <span class="titulo-categorias">Categorias</span>
      <div class="query-column">
      <div class="fondo-foxy">
        <div class="foxy">
          <div class="contenido-foxy">
            <h2 class="titulo-foxy">Coches</h2>
            <p class="cuerpo-foxy">
              Estás buscando piezas para arreglar a tu pequeñin de 4 ruedas? Entra aquí para consultar las piezas disponibles. 
            </p>
            <a href="/categoria/coches" class="boton-foxy">Más</a>
          </div>
        </div>
      </div>
      <div class="fondo-fish">
        <div class="fish">
          <div class="contenido-fish">
            <h2 class="titulo-fish">Motos</h2>
            <p class="cuerpo-fish">
              No nos olvidamos de sus primos de 2 ruedas. Aquí encontrarás como darle ese recambio a tu ciclomotor.
            </p>
            <a href="/categoria/motos" class="boton-fish">Más</a>
          </div>
        </div>
      </div>
      <div class="fondo-tiger">
        <div class="tiger">
          <div class="contenido-tiger">
            <h2 class="titulo-tiger">Otros</h2>
            <p class="cuerpo-tiger">
              Si no has encontrado lo que buscabas, aquí están lo que podemos llamar los "raritos".
            </p>
            <a href="/categoria/otros" class="boton-tiger">Más</a>
          </div>
        </div>
      </div>
      </div>
    </section>
<div class = "contadores">
  <div class = "contenido-counter">
    <div class = "caja">
        <div class="contador">30</div>
        <div class="texto-contador">Años trabajando en mecánica</div>
    </div>
    <div class = "caja">
        <div class="contador">200</div>
        <div class="texto-contador">Piezas vendidas esta semana</div>
    </div>
    <div class = "caja">
        <div class="contador">6400</div>
        <div class="texto-contador">Clientes anuales</div>
    </div>
  </div>
</div>
 {{ include ('partials/footer.html.twig')}}
{% endblock %}
