@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr: #222327;
  --clr-accent-400: hsl(142 90% 61%);
}
body {
  background: var(--clr); 
  min-height: 100vh;
}

.categoria{
  margin-top: 8rem;
  
}
.cuerpo-categoria{
  display: flex;
  align-items: center;
  justify-content: center;
}
.vehiculo{
    width: 300px;
    height: 200px;
    background: white;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
}

.vehiculo ul li{
    list-style: none;
}

.vehiculo ul .piezas{
    display: inline-block;
}

.vehiculo .contenido{
    padding: 10px;
}

.titulo-categoria{
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
}

/*Buscador*/

.barra-buscar{
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin-left: 4rem;
}

.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #d6a419;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.boton-buscar{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}


.boton-buscar:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}