@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr: #222327;
  --clr-accent-400: hsl(142 90% 61%);
}
body {
  background: var(--clr); 
  min-height: 100vh;
}

.categoria{
  margin-top: 8rem;
}

.contenido-categoria{
  display: flex;
  justify-content: center;
}

.cuerpo-categoria{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1000px;
}

.vehiculo{
    flex: 2 0 23%; 
    width: 300px;
    height: 200px;
    background: white;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: block;
}

.vehiculo ul li{
    list-style: none;
}

.vehiculo ul .piezas{
    display: inline-block;
}

.vehiculo .contenido{
    padding: 10px;
}

.titulo-categoria{
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.icono-delete{
    position: absolute;
    display: flex;
    margin-left: 16rem;
    cursor: pointer;
    
}                  

.icono-delete:hover{
  color: red;
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.icono-delete:hover:after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.icono-delete {
  animation: moveInBottom 0.5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
/*Buscador*/

.icono{
  font-size: 2rem;
  color: #fff;
  padding: 15px;
  position: absolute;
  cursor: pointer;
}


.barra-buscar{
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin-left: 4rem;
}

.input-search{
  height: 50px;
  width: 300px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 0px;
  background-color: transparent;
  padding-right: 40px;
  border-bottom:1px solid rgba(255,255,255,.5);
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.boton-buscar{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}

/*Añadir*/

.add{
  position: absolute;
  width: 325px;
  height: 225px;
  background: white;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  display: none;
}
.cuerpo-add{
  padding: 10px;
}

.cerrar{
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.5em;
}

.add .cuerpo-add .formulario{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: 0.5s;
  margin-top: 1rem;
}

.add .cuerpo-add .formulario input[type="text"]{
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}

#input-add-name{
  position: relative;
  padding-top: 10px;
}

#add_vehicle_enviar {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1rem;
  padding-right: 10px;
  padding-left: 10px;
}

#add_vehicle_enviar {
  color: #FFF;
  border: 4px solid #000;
  box-shadow:0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#add_vehicle_enviar:hover {
  border: 4px solid #666;
  background-color: #FFF;
  box-shadow:0px 0px 0px 4px #EEE inset;
}

#add_vehicle_enviar:hover {
  color: black;
}

.filter-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.button-flex{
  display: flex;
  justify-content: center;
}


@media all and (max-width: 1100px){
  .barra-buscar{
    position: relative;
    list-style: none;
  }


}