@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Menu*/

.menu {
    width: 475px;
    height: 70px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
  }
  
  .menu ul {
    display: flex;
    width: 400px;
  }
  
  .menu .logo{ 
    width: 150px;
  }
  .menu ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
  }
  .menu ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #fff;
  }
  
  .menu ul li a .icono {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #fff;
  }
  
  .menu ul li:hover a .icono {
    transform: translateY(-15px);
  }
  
  .menu ul li a .texto {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
  }
  
  .menu ul li:hover:nth-child(1) a .texto {
    position: absolute;
    color: white;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 1;
  }
  
  .menu ul li:hover:nth-child(2) a .texto {
    position: absolute;
    color: red;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 1;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5),
      3px 0 3px #ff002b, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5),
      6px 0 9px #ff5500, 8px 0 9px #802a00, 9px 2px 9px rgba(77, 25, 0, 0.5),
      12px 2px 18px rgba(77, 66, 0, 0.5), 15px 2px 30px rgba(64, 77, 0, 0.5),
      17px 2px 45px rgba(38, 77, 0, 0.5), 2px 2px 2px rgba(18, 29, 206, 0);
  }
  
  .menu ul li:hover:nth-child(3) a .texto {
    position: absolute;
    color: greenyellow;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 1;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
      0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  }
  
  .menu ul li:hover:nth-child(4) a .texto {
    position: absolute;
    color: yellow;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 1;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 1px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }
  
  .menu ul li:hover:nth-child(5) a .texto {
    position: absolute;
    color: #e0eff2;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 1;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
  }
  
  .menu ul li:hover:nth-child(6) a .texto {
    position: absolute;
    color: #a0522d;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 1;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
      0 0 15px rgba(255, 255, 255, 0.5);
  }
  
  .menu a {
    opacity: 1;
    position: relative;
  }
  
  .menu a::before {
    content: "";
    display: block;
    height: 5px;
    width: 60%;
    background: white;
    position: absolute;
    top: -0.75em;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  .menu a:hover::before {
    transform: scale(1, 1);
  }
  
section{
    position: relative;
    min-height: 100vh;
    background: #222327;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: 0.5s;
}

section.active{
    background: #423232;
}
section .contenedor {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px #74767e;
    overflow: hidden;
}

section .contenedor .usuario{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .contenedor .usuario .imagenForm{
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.5s;
}

section .contenedor .usuario .imagenForm img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contenedor .usuario .formulario{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 40px;
    transition: 0.5s;
}


section .contenedor .usuario .formulario h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

section .contenedor .usuario .formulario input{
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

section .contenedor .usuario .formulario input[type="submit"]{
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
section .contenedor .usuario.register{
    position: absolute;
}

section .contenedor .usuario.register .formulario input[type="submit"]{
    background: #e73e49;
}

section .contenedor .usuario .formulario .registro{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

section .contenedor .usuario.login .formulario .registro a{ 
    font-weight: 300;
    text-decoration: none;
    color: #577eff;
}

section .contenedor .usuario.register .formulario .registro a{ 
    font-weight: 300;
    text-decoration: none;
    color: #e73e49;
}


section .contenedor .usuario .formulario input[type="checkbox"]{
  width: 50px;
}