{% extends 'base.html.twig' %}
{% block title %}Motos{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/categorias.css" />
    <link rel="stylesheet" href="/css/estilos.css" />
{% endblock %}
{% block body %} 
 {{ include ('partials/nav.html.twig')}}
  <div class = "categoria">
   <div class="barra-buscar">
    <button class="boton-buscar"><ion-icon name="search-outline"></ion-icon></button>
    <input type="text" class="input-search" placeholder="Buscar...">
  </div>
    <h1 class = "titulo-categoria">Listado de motos</h1>
        <div class = "cuerpo-categoria">
            {% for moto in motos %}
                {{ include ('partials/datos_motos.html.twig', { 'moto': moto })}}
            {% endfor %}
        </div>
    </div>
{% endblock %}