{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
            <link rel="stylesheet" href="/css/register.css" />
            <link rel="stylesheet" href="/css/estilos.css" />
{% endblock %}
        {% block javascripts %}
    <script type="text/javascript" src="/js/register.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>      
    {% endblock %}
{% block body %}
 {{ include ('partials/nav.html.twig')}}
    <section>
      <div class="contenedor">
        <div class="usuario login">
          <div class="imagenForm"><img src="/media/img/login.jpg" alt=""></div>
          <div class="formulario">
            <form>
              <h2>Login</h2>
              <input type="text" placeholder="Nombre de usuario"/>
              <input type="password" placeholder="Contraseña" id="passwd" name="_password"/>
              <input type="checkbox" id="check" />
              <input type="submit" value="Login" />
              <p class="registro">
                No tienes una cuenta todavía? <a href="#" id="cambiador">Registrarse</a>
              </p>
            </form>
          </div>
        </div>

        <div class="usuario register">
          <div class="formulario">
            <form>
              <h2>Crear una cuenta</h2>
              <input type="text" placeholder="Nombre de usuario" />
              <input type="" placeholder="Correo electronico"/>
              <input type="password" placeholder="Contraseña" />
              <input type="password" placeholder="Confirmar contraseña" />
              <input type="submit" value="Register" />
              <p class="registro">
                Ya tienes una cuenta? <a href="#" id="cambiador2">Iniciar sesion</a>
              </p>
            </form>
          </div>
          <div class="imagenForm"><img src="media/img/register.jpg" alt=""></div>
        </div>
      </div>
    </section>
{% endblock %}
