 <ul>
 <li>
 <form>
 <div class="barra-buscar">
    <button class="boton-buscar"><ion-icon name="search-outline" id="icono"></ion-icon></button>
    <input type="text" class="input-search" placeholder="Buscar...">
  </div>
  </form>
  </li>
  <li><div class="icono"><ion-icon name="add-outline"></ion-icon></div></li>
  </ul>

<div class = "add">
  <div class = "cuerpo-add">
  <div class="cerrar"><ion-icon name="close-outline"></ion-icon></div>
  <h3><strong>Añadir vehiculo</strong></h3>
  <form class="formulario">
    <select name="select">
      <option value="value1" selected>Coche</option>
      <option value="value2">Moto</option>
      <option value="value3">Otro</option>
    </select>
    <br>
    <input type="text" placeholder = "Nombre">
    <br>
    <input type="text" placeholder = "Pieza">
    <br>
    <br>
    <input class="enviar effect01" type = "submit" value = "Añadir" style="cursor: pointer;">
    </form>
  </div>
</div>  