 <form>
 <div class="barra-buscar">
    <button class="boton-buscar"><ion-icon name="search-outline" id="icono"></ion-icon></button>
    <input type="text" class="input-search" placeholder="Buscar...">
  </div>
  </form>