
<div class = "vehiculo">
<div class = "contenido">
<h3><strong>{{ vehiculo.nombre }}</strong></h3>

<ul>
    <li><strong>ID</strong>: {{ vehiculo.id }}
    <li><strong>Piezas</strong>
</ul>
</div>
</div>