<footer>
      <div class="contenedor">
        <div class="fila">
          <div class="columna">
            <ul>
              <li style="opacity: 0.6">Mex-Change ©</li>
            </ul>
          </div>
          <div class="columna">
            <ul>
              <li><a href="">Sobre nosotros</a></li>
            </ul>
          </div>
          <div class="columna">
            <ul>
              <li><a href="">Servicios</a></li>
            </ul>
          </div>
          <div class="columna">
            <ul>
              <li><a href="">Politica de Privacidad</a></li>
            </ul>
          </div>
          <div class="columna">
            <div class="redes-sociales">
              <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
              <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
              <a href=""><ion-icon name="logo-flickr"></ion-icon></a>
              <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
            </div>
          </div>
        </div>
      </div>
    </footer>