<footer>
      <div class="contenedor">
        <div class="fila">
          <div class="columna">
            <ul>
              <li style="opacity: 0.6">Mex-Change ©</li>
            </ul>
          </div>
          <div class="columna">
            <ul>
              <li><a href="">Sobre nosotros</a></li>
            </ul>
          </div>
          <div class="columna">
            <ul>
              <li><a href="">Servicios</a></li>
            </ul>
          </div>
          <div class="columna">
            <ul>
              <li><a href="">Politica de Privacidad</a></li>
            </ul>
          </div>
          <div class="columna">
            <div class="redes-sociales">
              <a href=""><ion-icon name="logo-twitter"></ion-icon></a>
              <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
              <a href=""><ion-icon name="logo-flickr"></ion-icon></a>
              <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
            </div>
          </div>
        </div>
      </div>
<div class="slider-container">
    <div class="slider-content">

        <div class="slider-single">
            <img class="slider-single-image" src="https://phantom-marca.unidadeditorial.es/164ac291ff307466dbb76ff2174bb978/assets/multimedia/imagenes/2021/02/15/16133956193334.jpg" alt="1" />
            <h1 class="slider-single-title">Through the Mountains</h1>
            <a class="slider-single-likes" href="javascript:void(0);">
                <i class="fa fa-heart"></i>
                <p>1,247</p>
            </a>
        </div>

        <div class="slider-single">
            <img class="slider-single-image" src="https://ep01.epimg.net/elpais/imagenes/2019/10/30/album/1572424649_614672_1572453030_noticia_normal.jpg" alt="2" />
            <h1 class="slider-single-title">Through the Mountains</h1>
            <a class="slider-single-likes" href="javascript:void(0);">
                <i class="fa fa-heart"></i>
                <p>1,247</p>
            </a>
        </div>

        <div class="slider-single">
            <img class="slider-single-image" src="https://www.tooltyp.com/wp-content/uploads/2014/10/1900x920-8-beneficios-de-usar-imagenes-en-nuestros-sitios-web.jpg" alt="3" />
            <h1 class="slider-single-title">Through the Mountains</h1>
            <a class="slider-single-likes" href="javascript:void(0);">
                <i class="fa fa-heart"></i>
                <p>1,247</p>
            </a>
        </div>
    </div>
</div>
</footer>