<div class="menu">
      <img src="/media/img/logo.png" alt="Logo" class="logo">
      <ul>
        <li class="lista" name="lista">
          <a href="/">
            <span class="icono"> <ion-icon name="home"></ion-icon></span>
            <span class="texto">Inicio</span>
          </a>
        </li>
        <li class="lista" name="lista">
          <a href="/contacto">
            <span class="icono"> <ion-icon name="mail"></ion-icon></span>
            <span class="texto">Contacto</span>
          </a>
        </li>
        <li class="lista" name="lista">
          <a href="/login">
            <span class="icono"><ion-icon name="person"></ion-icon></span>
            <span class="texto">Login</span>
          </a>
        </li>
      </ul>
      <div class="indicador"></div>
    </div>