{% extends 'base.html.twig' %}
{% block title %}Coches{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/categorias.css" />
    <link rel="stylesheet" href="/css/estilos.css" />
{% endblock %}
{% block body %} 
 {{ include ('partials/nav.html.twig')}}
<div class = "categoria">
{% for auto in autos %}
<form action = "/categoria/buscar/{{auto.modelo}}">
{% endfor %}
 <div class="barra-buscar">
    <button class="boton-buscar"><ion-icon name="search-outline"></ion-icon></button>
    <input type="text" class="input-search" placeholder="Buscar...">
  </div>
  </form>
    <h1 class = "titulo-categoria">Listado de coches</h1>
     <div class = "cuerpo-categoria">
        {% for auto in autos %}
            {{ include ('partials/datos_autos.html.twig', { 'auto': auto })}}
        {% endfor %}
    </div>
</div>
{% endblock %}