{% extends 'base.html.twig' %}
{% block title %}Coches{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/categorias.css" />
    <link rel="stylesheet" href="/css/estilos.css" />
{% endblock %}
{% block body %}
 {{ include ('partials/nav.html.twig')}}
<div class = "categoria">
 {{ include ('partials/buscador.html.twig')}}
    <h1 class = "titulo-categoria">Listado de coches</h1>
     <div class = "cuerpo-categoria">
        {% for vehiculo in vehiculos %}
            {{ include ('partials/datos_vehiculo.html.twig', { 'vehiculo': vehiculo })}}
        {% endfor %}
     </div>
</div>
 {{ include ('partials/footer.html.twig')}}
{% endblock %}