{% extends 'base.html.twig' %}
{% block title %}Coches{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/categorias.css" />
    <link rel="stylesheet" href="/css/estilos.css" />
{% endblock %}
{% block body %}
 {{ include ('partials/nav.html.twig')}}
<div class = "categoria">
<form>
 <div class="barra-buscar">
    <button class="boton-buscar"><ion-icon name="search-outline" id="icono"></ion-icon></button>
    <input type="text" class="input-search" placeholder="Buscar...">
  </div>
  </form>
    <h1 class = "titulo-categoria">Listado de coches</h1>
     <div class = "cuerpo-categoria">
        {% for vehiculo in vehiculos %}
            {{ include ('partials/datos_vehiculo.html.twig', { 'vehiculo': vehiculo })}}
        {% endfor %}
     </div>
</div>
<div class = "contadores">
<div class = "contenido-counter">
    <div class = "caja">
        <div class="contador">30</div>
        <div class="texto-contador">Años trabajando en mecánica</div>
    </div>
    <div class = "caja">
        <div class="contador">5000</div>
        <div class="texto-contador">Piezas vendidas esta semana</div>
    </div>
    <div class = "caja">
        <div class="contador">6400</div>
        <div class="texto-contador">Clientes anuales</div>
    </div>
</div>
</div>
 {{ include ('partials/footer.html.twig')}}
{% endblock %}